.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;
  width: 100%;

  margin-bottom: 40px;
}

.navbar .logo h1 {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
}

.navbar .logo h1 span {
  color: var(--primary-color);
}

.navbar .links {
  display: flex;
  justify-content: space-between;

  width: 500px;
}

.navbar .links .link {
  color: var(--text-color);
  text-decoration: none;

  transition: 0.5s;
}

.navbar .links .link span {
  color: var(--primary-color);
}

.navbar .links .link:hover {
  color: var(--primary-color3);
}