.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  
    height: 8vh;
  
    background-color: var(--bg-cards);
  }
  
  .navbar h1 {
    font-size: 24px;
    font-weight: 500;
  }