.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 70px;
  width: 100%;

  margin-bottom: 40px;
}

.navbar .logo {
  text-decoration: none;
}

.navbar .logo h1 {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);

  transition: 0.3s;
}

.navbar .logo h1:hover {
  color: var(--primary-color);
}

.navbar .links {
  display: flex;
  justify-content: space-between;

  width: 60%;
}

.navbar .links .link {
  width: fit-content;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  position: relative;

  text-decoration: none;
  color: var(--text-color);

  animation-name: linkNotSelected;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes linkNotSelected {
  from {
    top: 5px;
    left: 5px;

    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.25);

    box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
  }

  to {
    top: 0px;
    left: 0px;
  }
}

.navbar .links .link:hover {
  color: var(--primary-color2);

  animation-name: linkSelected;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes linkSelected {
  from {
    top: 0px;
    left: 0px;
  }

  to {
    top: 5px;
    left: 5px;

    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.25);

    box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
  }
}