.navbar {
  margin-bottom: 40px;

  background-color: var(--primary-color);
  color: var(--text-color);
}

.navbar .logo {
  text-decoration: none;
}

.navbar .logo h1 {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);

  transition: 0.3s;
}

.navbar .logo h1:hover {
  color: var(--background-color);
}

.navbar .links .link {
  text-decoration: none;
}

.navbar .links .link p {
  width: fit-content;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;

  position: relative;

  color: var(--text-color);

  animation-name: linkNotSelected;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes linkNotSelected {
  from {
    top: 5px;
    left: 5px;

    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--background-color);

    box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
  }

  to {
    top: 0px;
    left: 0px;
  }
}

.navbar .links .link p:hover {
  color: var(--primary-color2);

  animation-name: linkSelected;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes linkSelected {
  from {
    top: 0px;
    left: 0px;
  }

  to {
    top: 5px;
    left: 5px;

    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--background-color);

    box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
  }
}

@media screen and (max-width: 350px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: var(--sides-spacing);
    padding-right: var(--sides-spacing);
  }

  .navbar .logo {
    margin-bottom: 10px;
  }

  .navbar .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
  }

  .navbar .links .link {
    margin-left: 20px;
    margin-right: 20px;

    text-align: center;
  }
}

@media screen and (min-width: 350px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 100px;
    width: 100%;

    padding-left: var(--sides-spacing);
    padding-right: var(--sides-spacing);
  }

  .navbar .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
  }

  .navbar .links .link {
    margin-left: 20px;
    margin-right: 20px;

    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 60px;
    width: 100%;

    padding-left: var(--sides-spacing);
    padding-right: var(--sides-spacing);
  }

  .navbar .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;

    width: 80%;
  }

  .navbar .links .link {
    margin-left: 20px;
    margin-right: 20px;
  }
}