.container {
    display: flex;
    flex-direction: column;

    height: fit-content;
    width: 200px;

    border: 2px solid var(--primary-color);

    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.container .title {
    padding: 10px;

    width: 100%;

    font-size: 16px;
    font-weight: 500;
}

.container hr {
    border: 1px solid var(--primary-color);
}

.container .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 5px;

    padding: 10px;

    list-style: none;
}

.container .items .item {
    margin-right: 8px;

    font-size: 14px;
    font-weight: 300;
    opacity: 0.85;
}