.service_card {
    display: flex;
    flex-direction: column;

    height: min-content;
    width: 300px;

    border: 1px solid var(--primary-color);

    box-shadow: 15px 15px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 15px 15px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 15px 15px 5px 0px rgba(0, 0, 0, 0.75);
}

.service_card hr {
    width: 100%;
    border-color: var(--primary-color);
}

.service_card .service_image_container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.service_card .service_image_container .service_image {
    object-fit: scale-down;
    width: 100%;
    height: fit-content;
}

.service_card .service_description_container {
    width: 100%;
    height: fit-content;

    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.service_card .service_description_container .title {
    width: 100%;
    margin-bottom: 15px;

    font-size: 16px;
    font-weight: bold;
}

.service_card .service_description_container .service_description {
    margin-bottom: 20px;

    font-size: 14px;
    font-weight: 400;
}

.service_card .service_description_container .link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.service_card .service_description_container .link button {
    padding-left: 10px;
    padding-right: 10px;

    width: fit-content;
    height: 30px;

    color: var(--text-color);

    background-color: transparent;
    outline: none;
    border: 2px solid var(--primary-color);

    cursor: pointer;

    transition: filter 0.4s;
}

.service_card .service_description_container .link button:hover {
    filter: brightness(0.7);
}