.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: var(--main-space);
}

.projects .title {
    width: 95%;

    margin-bottom: 2%;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 0px;

    text-align: left;
    font-size: 20px;

    border-radius: var(--card-radius);
    background-color: var(--bg-cards);
}

.projects .projects_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 95%;
    height: 200px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 0px;
}

.projects .projects_group .projects_group_item {
    margin-right: 30px;
    margin-bottom: 30px;

    width: 300px;
    height: 100px;

    border-radius: var(--card-radius);
    background-color: var(--bg-cards);
}