.home_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    padding-left: var(--sides-spacing);
    padding-right: var(--sides-spacing);
}

.home_container > * {
    margin-bottom: 30px;
}