.container .aboutme_content .content_cover .content p {
    margin-bottom: 18px;

    font-size: 14px;
    font-weight: 300;
    word-spacing: 5px;
    color: var(--text-color);
    opacity: 0.95;
}

.container .aboutme_content .content_cover .cover {
    border: 10px groove var(--text-color);

    box-shadow: 15px 15px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 15px 15px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 15px 15px 5px 0px rgba(0, 0, 0, 0.75);
}

.container .aboutme_content .link {
    margin-top: 10px;

    width: fit-content;
    height: fit-content;

    text-decoration: none;
}

.container .aboutme_content .link button {
    height: fit-content;
    width: fit-content;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    border: 2px solid var(--primary-color);
    background-color: transparent;

    cursor: pointer;

    animation-name: linkNotSelected;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes linkNotSelected {
    from {
        top: 5px;
        left: 5px;

        box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
    }

    to {
        top: 0px;
        left: 0px;
    }
}

.container .aboutme_content .link button:hover {
    animation-name: linkSelected;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes linkSelected {
    from {
        top: 0px;
        left: 0px;
    }

    to {
        top: 5px;
        left: 5px;

        box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 8px 0px rgba(0, 0, 0, 0.75);
    }
}

.container .aboutme_content .link button span {
    font-size: 12px;
    color: var(--text-color);
}

.container .aboutme_content .link button .arrow_right {
    margin-left: 10px;

    width: 22px;
    height: 22px;
}

@media screen and (max-width: 599px) {
    .container {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .container .aboutme_content {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .container .aboutme_content .content_cover {
        display: flex;
        flex-direction: column;
    }

    .container .aboutme_content .content_cover .content {
        display: flex;
        flex-direction: column;

        margin-bottom: 50px;

        width: 100%;
    }

    .container .aboutme_content .content_cover .cover {
        align-self: center;

        object-fit: scale-down;
        width: 80%;
        height: auto;
    }

    .container .aboutme_content .link button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        position: relative;
    }
}

@media screen and (min-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .container .aboutme_content {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .container .aboutme_content .content_cover {
        display: flex;
        flex-direction: column;
    }

    .container .aboutme_content .content_cover .content {
        display: flex;
        flex-direction: column;

        margin-bottom: 50px;

        width: 100%;
    }

    .container .aboutme_content .content_cover .cover {
        align-self: center;

        object-fit: scale-down;
        width: 450px;
        height: auto;
    }

    .container .aboutme_content .link button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        position: relative;
    }
}

@media screen and (min-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .container .aboutme_content {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .container .aboutme_content .content_cover {
        display: flex;
        flex-direction: column;
    }

    .container .aboutme_content .content_cover .content {
        display: flex;
        flex-direction: column;

        margin-bottom: 50px;

        width: 100%;
    }

    .container .aboutme_content .content_cover .cover {
        align-self: center;

        object-fit: scale-down;
        width: 450px;
        height: auto;
    }

    .container .aboutme_content .link button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        position: relative;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .container .aboutme_content {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;
    }

    .container .aboutme_content .content_cover {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container .aboutme_content .content_cover .content {
        display: flex;
        flex-direction: column;

        width: 55%;
    }

    .container .aboutme_content .content_cover .cover {
        object-fit: scale-down;
        height: 460px;
        width: auto;


    }

    .container .aboutme_content .link button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        position: relative;
    }
}

@media screen and (min-width: 1800px) {
    .container {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .container .aboutme_content {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;
    }

    .container .aboutme_content .content_cover {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container .aboutme_content .content_cover .content {
        display: flex;
        flex-direction: column;

        width: 55%;
    }

    .container .aboutme_content .content_cover .cover {
        object-fit: scale-down;
        height: 460px;
        width: auto;


    }

    .container .aboutme_content .link button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        position: relative;
    }
}