.container {
    padding-left: var(--sides-spacing);
    padding-right: var(--sides-spacing);

    color: var(--text-color);
}

.title_desc .title {
    font-size: 24px;
    font-weight: 600;
}

.title_desc .description {
    font-size: 14px;
    font-weight: 300;
}

.content p {
    margin-bottom: 18px;

    font-size: 14px;
    font-weight: 300;
    word-spacing: 5px;
    color: var(--text-color);
    opacity: 0.95;
}

.skills .title {
    margin-bottom: 30px;

    font-size: 20px;
}

.fun_facts .title {
    margin-bottom: 30px;

    font-size: 20px;
}

.fun_facts .items {
    list-style: none;
}

.fun_facts .items .item {
    padding: 5px;

    border: 1px solid var(--primary-color);

    font-size: 14px;
    font-weight: 300;
}

@media screen and (max-width: 599px) {
    .container {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .container>* {
        margin-bottom: 50px;
    }

    .title_desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 40px;

        width: 100%;
        height: 60px;

        text-align: center;
    }

    .content {
        display: flex;
        flex-direction: column;

        width: 100%;

        text-align: justify;
    }

    .skills {
        display: flex;
        flex-direction: column;
    }

    .skills .title {
        text-align: center;
    }

    .skills .skills_content {
        display: flex;
        flex-direction: column;
    }

    .skills .skills_content .group {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
    }

    .skills .skills_content .group>* {
        margin-bottom: 20px;
    }

    .fun_facts {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .fun_facts .title {
        text-align: center;
    }

    .fun_facts .items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        width: 100%;
    }

    .fun_facts .items .item {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .container>* {
        margin-bottom: 50px;
    }

    .title_desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-bottom: 40px;

        width: 100%;
        height: 60px;
    }

    .content {
        display: flex;
        flex-direction: column;

        width: 55%;
    }

    .skills {
        display: flex;
        flex-direction: column;
    }

    .skills .skills_content {
        display: flex;
        flex-direction: column;
    }

    .skills .skills_content .group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        width: 100%;
    }

    .skills .skills_content .group>* {
        margin-bottom: 20px;
    }

    .fun_facts {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .fun_facts .items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        width: 100%;
    }

    .fun_facts .items .item {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .container>* {
        margin-bottom: 50px;
    }

    .title_desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-bottom: 40px;

        width: 100%;
        height: 60px;
    }

    .content {
        display: flex;
        flex-direction: column;

        width: 55%;
    }

    .skills {
        display: flex;
        flex-direction: column;
    }

    .skills .skills_content {
        display: flex;
        flex-direction: column;
    }

    .skills .skills_content .group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        width: 100%;
    }

    .skills .skills_content .group>* {
        margin-bottom: 20px;
    }

    .fun_facts {
        display: flex;
        flex-direction: column;
    }

    .fun_facts .items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .fun_facts .items .item {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .container>* {
        margin-bottom: 50px;
    }

    .title_desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-bottom: 40px;

        width: 100%;
        height: 60px;
    }

    .content {
        display: flex;
        flex-direction: column;

        width: 55%;
    }

    .skills {
        display: flex;
        flex-direction: column;
    }

    .skills .skills_content {
        display: flex;
        flex-direction: column;
    }

    .skills .skills_content .group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        width: 100%;
    }

    .fun_facts {
        display: flex;
        flex-direction: column;
    }

    .fun_facts .items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .fun_facts .items .item {
        margin-right: 10px;
    }
}

@media screen and (min-width: 1800px) {
    .container {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .container>* {
        margin-bottom: 50px;
    }

    .title_desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-bottom: 40px;

        width: 100%;
        height: 60px;
    }

    .content {
        display: flex;
        flex-direction: column;

        width: 55%;
    }

    .skills {
        display: flex;
        flex-direction: column;
    }

    .skills .skills_content {
        display: flex;
        flex-direction: column;
    }

    .skills .skills_content .group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        width: 100%;
    }

    .fun_facts {
        display: flex;
        flex-direction: column;
    }

    .fun_facts .items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .fun_facts .items .item {
        margin-right: 10px;
    }
}