.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.container .skills_group {
    display: flex;
    flex-direction: row;
    justify-content: right;

    width: 100%;
}

.container .skills_group .group {
    display: flex;
    flex-direction: column;

    margin-right: 20px;
}

.container .skills_group .group > * {
    margin-bottom: 10px;
}