.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: 100%;
  
    padding-left: var(--sides-spacing);
    padding-right: var(--sides-spacing);

    color: var(--text-color);
  }
  
  .container>* {
    margin-bottom: 30px;
  }